/* margin: top right bottom left */
/* CSS that will persist in all sizes */

img.home-logo{
    height: 100px;
    width: 100px;
}

#navbar-container{
    /* border-style: solid; */
    font-family: "Open sans";
    font-weight: 700;
    font-size: 24px;
    
    /* border-style: solid; */
}
#navbar-container a {
    color: black;
    display: inline-block;
    text-decoration: none;
} 

.navbar-choices{
    /* border-style: solid; */
}

.nav-home, .nav-about, .nav-skills, .nav-projects, .nav-contact{
    color: black;
    
}
.nav-home:hover, .nav-about:hover, .nav-skills:hover, .nav-projects:hover, .nav-contact:hover {
    border-bottom: 5px solid black;
    margin-bottom: -5px;
    
}

#website-container{
    border-style: solid;
    background-color: white;
    font-family: "Open sans";
}

.about-title, .skills-title, .projects-title, .contact-title{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.about-content, .skills-content, .projects-content, .contact-content{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.filler-space{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
* Responsive Media CSS
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    #navbar-container{
        /* margin-top: 20px; */
        text-align: center;
        display: block;
        
    }
    .navbar-choices{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .nav-home, .nav-about, .nav-skills, .nav-projects, .nav-contact{
        
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #website-container{
        background-color: white;
        /* margin-top: 50px; */
    }
    .name-title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    #image-container{
        background-image: url("/img/lake1.JPG");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .about-title, .skills-title, .projects-title, .contact-title{
        margin-bottom: 10px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #navbar-container{
        /* margin-top: 20px; */
        display: block;
        /* border-style: solid; */
    }
    a.home-logo{
        margin-left: 30px;
        margin-bottom:10px;
        
        /* border-style: solid; */
    }

    .navbar-choices{
        float: right;
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        /* border-style: solid; */
    }
    .nav-home, .nav-about, .nav-skills, .nav-projects, .nav-contact{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #image-container{
        background-image: url("/img/lake1.JPG");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .name-title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }
    #website-container{
        background-color: #F0F0F0;
        /* margin-top: 30px; */
    }
    .about-container, .skills-container, .projects-container, .contact-container{
        display: flex;
    }
    .about-title, .skills-title, .projects-title, .contact-title{
        text-align: right;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #website-container{
        background-color: #E0E0E0;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #website-container{
        background-color: #D3D3D3;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #website-container{
        background-color: #C0C0C0;
    }
}