/* margin: top right bottom left */
/* CSS that will persist in all sizes */

img.home-logo{
    height: 100px;
    width: 100px;
}

#navbar-container{
    /* border-style: solid; */
    font-family: "Open sans";
    font-weight: 700;
    font-size: 24px;
    
    /* border-style: solid; */
}
#navbar-container a {
    color: black;
    display: inline-block;
    text-decoration: none;
} 

.navbar-choices{
    /* border-style: solid; */
}

.nav-home, .nav-about, .nav-skills, .nav-projects, .nav-contact{
    color: black;
    
}
.nav-home:hover, .nav-about:hover, .nav-skills:hover, .nav-projects:hover, .nav-contact:hover {
    border-bottom: 5px solid black;
    margin-bottom: -5px;
    
}

#website-container{
    border-style: solid;
    background-color: white;
}


/*
* Responsive Media CSS
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    #navbar-container{
        margin-top: 20px;
        text-align: center;
        display: block;
        
    }
    .navbar-choices{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .nav-home, .nav-about, .nav-skills, .nav-projects, .nav-contact{
        
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #website-container{
        background-color: purple;
        margin-top: 50px;
    }
}
@media only screen and (min-width: 450px) and (max-width:599px) {
    #website-container{
        background-color: grey;    
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #navbar-container{
        margin-top: 20px;
        display: block;
        /* border-style: solid; */
    }
    a.home-logo{
        margin-left: 30px;
        margin-bottom:10px;
        
        /* border-style: solid; */
    }

    .navbar-choices{
        float: right;
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        /* border-style: solid; */
    }
    .nav-home, .nav-about, .nav-skills, .nav-projects, .nav-contact{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #image-container{
        background-image: url("/img/lake1.JPG");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    #website-container{
        background-color: blue;
        margin-top: 30px;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    #website-container{
        background-color: green;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    #website-container{
        background-color: red;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    #website-container{
        background-color: orange;
    }
}